
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  margin-top: 70px;
  margin-bottom: 70px;
}
/* Stamp for masonry grid */
.container {
  padding: 8px !important;
}

.stamp {
  position: relative;
}

/* Content Card and Create Cards */
.create-container-wrapper {
  width: 100%;
}
.card-wrapper {
  /* padding-left: 12px; */
  /* padding-right: 12px; */
  @include masonry-pin-width;
  /* margin-bottom: 70px; */
}
.card-item {
  @include border-radius(8px);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  cursor: pointer;
}
.card-item:hover {
  background-color: #EEEEEE;
}
.card-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  font-weight: 700;
}
.card-inner {
  @include border-radius(8px);
  @include masonry-pin-width;
  height: 199px;
  background-color: #BDBDBD;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
}

.card-inner-button {
  @include card-btn;
  @include border-radius(50%);
  background-color: #fff;
  box-sizing: border-box;
}
.blue-button {
  @include card-btn;
  color: $secondary;
  display: block;
  fill: currentColor;
  stroke-width: 0;
  /* vertical-align: middle; */
}
.pin-save-btn {
  z-index: 100;
  top: 15px;
  // left: 15px;
}

.pin-edit-btn {
  z-index: 100;
  right: 15px;
  top: 15px;
}

.form-wrapper {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.re-form {
  border: 1px solid #16a085;
  @include border-radius(8px);
}
