@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin masonry-pin-width {
  width: 300px;
}

@mixin card-btn {
  height: 40px;
  width: 40px;
}
